<div class="wrapper">
  @if (race$ | async ; as race) { @if (race.RaceTable.Races[0].Results.length>0)
  {
  <div class="wrapper_list">
    <mat-tab-group (selectedTabChange)="onTabChange($event)">
      <mat-tab label="list">
        <h1 class="wrapper_list-title">Participating Drivers</h1>
        <table
          mat-table
          [dataSource]="race.RaceTable.Races[0].Results"
          class="mat-elevation-z8 demo-table"
        >
          @for (coulmn of displayedColumns; track coulmn.value) {
          <ng-container [matColumnDef]="coulmn.value">
            <th mat-header-cell *matHeaderCellDef>{{ coulmn.title }}</th>
            <td class="td" mat-cell *matCellDef="let element">
              {{ getElementValue(element, coulmn.value) }}
            </td>
          </ng-container>
          }
          <tr mat-header-row *matHeaderRowDef="getdisplayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: getdisplayedColumns"></tr>
        </table>
      </mat-tab>
      <mat-tab label="chart">
        @if(isChartTabActive){
        <h1 class="wrapper_list-title">Performance Visualization</h1>
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [plotOptions]="chartOptions.plotOptions"
          [dataLabels]="chartOptions.dataLabels"
          [xaxis]="chartOptions.xaxis"
          [yaxis]="chartOptions.yaxis"
          [legend]="chartOptions.legend"
          [colors]="chartOptions.colors"
          [tooltip]="chartOptions.tooltip"
        >
        </apx-chart
        >}
      </mat-tab>
    </mat-tab-group>
  </div>
  } @else {
  <p class="wrapper-empty">No Race Yet.</p>
  } }
</div>
